<section class="main-slider style-one">

    <div class="tp-banner-container">
	  <div class="tp-banner">
		<ul>

		    <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="images/main-slider/1.jpg"  data-saveperformance="off"  data-title="Awesome Title Here">
		    <img src="images/main-slider/1.jpg"  alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">


		    <div class="tp-caption sfl sfb tp-resizeme"
		    data-x="left" data-hoffset="15"
		    data-y="center" data-voffset="-80"
		    data-speed="1500"
		    data-start="500"
		    data-easing="easeOutExpo"
		    data-splitin="none"
		    data-splitout="none"
		    data-elementdelay="0.01"
		    data-endelementdelay="0.3"
		    data-endspeed="1200"
		    data-endeasing="Power4.easeIn"><h3 class="grey-color">WE build your</h3></div>

		    <div class="tp-caption sfr sfb tp-resizeme"
		    data-x="left" data-hoffset="15"
		    data-y="center" data-voffset="-25"
		    data-speed="1500"
		    data-start="1000"
		    data-easing="easeOutExpo"
		    data-splitin="none"
		    data-splitout="none"
		    data-elementdelay="0.01"
		    data-endelementdelay="0.3"
		    data-endspeed="1200"
		    data-endeasing="Power4.easeIn"><h1>dream house</h1></div>

		    <div class="tp-caption sfl sfb tp-resizeme"
		    data-x="left" data-hoffset="15"
		    data-y="center" data-voffset="45"
		    data-speed="1500"
		    data-start="1500"
		    data-easing="easeOutExpo"
		    data-splitin="none"
		    data-splitout="none"
		    data-elementdelay="0.01"
		    data-endelementdelay="0.3"
		    data-endspeed="1200"
		    data-endeasing="Power4.easeIn"><div class="text">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie <br>consequat  vel illum dolore eu feugiat nulla facilisis at vero eros.</div></div>

		    <div class="tp-caption sfr sfb tp-resizeme"
		    data-x="left" data-hoffset="15"
		    data-y="center" data-voffset="125"
		    data-speed="1500"
		    data-start="2000"
		    data-easing="easeOutExpo"
		    data-splitin="none"
		    data-splitout="none"
		    data-elementdelay="0.01"
		    data-endelementdelay="0.3"
		    data-endspeed="1200"
		    data-endeasing="Power4.easeIn"><a href="#" class="theme-btn btn-style-one">read more <span class="icon icon-right flaticon-arrows-10"></span></a></div>


		    </li>

		    <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="images/main-slider/2.jpg"  data-saveperformance="off"  data-title="Awesome Title Here">
		    <img src="images/main-slider/2.jpg"  alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">


		    <div class="tp-caption sfl sfb tp-resizeme"
		    data-x="left" data-hoffset="15"
		    data-y="center" data-voffset="-80"
		    data-speed="1500"
		    data-start="500"
		    data-easing="easeOutExpo"
		    data-splitin="none"
		    data-splitout="none"
		    data-elementdelay="0.01"
		    data-endelementdelay="0.3"
		    data-endspeed="1200"
		    data-endeasing="Power4.easeIn"><h3>WE build your</h3></div>

		    <div class="tp-caption sfr sfb tp-resizeme"
		    data-x="left" data-hoffset="15"
		    data-y="center" data-voffset="-25"
		    data-speed="1500"
		    data-start="1000"
		    data-easing="easeOutExpo"
		    data-splitin="none"
		    data-splitout="none"
		    data-elementdelay="0.01"
		    data-endelementdelay="0.3"
		    data-endspeed="1200"
		    data-endeasing="Power4.easeIn"><h1>dream <span class="theme_color">house</span></h1></div>

		    <div class="tp-caption sfl sfb tp-resizeme"
		    data-x="left" data-hoffset="15"
		    data-y="center" data-voffset="45"
		    data-speed="1500"
		    data-start="1500"
		    data-easing="easeOutExpo"
		    data-splitin="none"
		    data-splitout="none"
		    data-elementdelay="0.01"
		    data-endelementdelay="0.3"
		    data-endspeed="1200"
		    data-endeasing="Power4.easeIn"><div class="text">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie <br>consequat  vel illum dolore eu feugiat nulla facilisis at vero eros.</div></div>

		    <div class="tp-caption sfr sfb tp-resizeme"
		    data-x="left" data-hoffset="15"
		    data-y="center" data-voffset="125"
		    data-speed="1500"
		    data-start="2000"
		    data-easing="easeOutExpo"
		    data-splitin="none"
		    data-splitout="none"
		    data-elementdelay="0.01"
		    data-endelementdelay="0.3"
		    data-endspeed="1200"
		    data-endeasing="Power4.easeIn"><a href="#" class="theme-btn btn-style-two">read more <span class="icon icon-right flaticon-arrows-10"></span></a></div>

		    <!--Image-->
		    <div class="tp-caption sfb sfb tp-resizeme"
		    data-x="right" data-hoffset="-15"
		    data-y="bottom" data-voffset="50"
		    data-speed="1500"
		    data-start="2500"
		    data-easing="easeOutExpo"
		    data-splitin="none"
		    data-splitout="none"
		    data-elementdelay="0.01"
		    data-endelementdelay="0.3"
		    data-endspeed="1200"
		    data-endeasing="Power4.easeIn"><div class="image"><img src="images/main-slider/content-image.png" alt=""></div></div>


		    </li>

		</ul>

		  <div class="tp-bannertimer"></div>
	  </div>
    </div>
</section>
