<section class="services-style-one padd-top-50">
  <div class="auto-container">
	  <!--Section Title-->
	  <div class="sec-title text-center">
		  <h2><span class="theme_color">Profesionisti in instalatii</span></h2>
	  </div>

	  <div class="row clearfix">

	  <!--Default Service Column-->
	  <div class="default-service-column col-md-3 col-sm-6 col-xs-12">
	    <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
		    <div class="inner-most">
			    <figure class="image-box"><a href="#"><img src="images/resource/featured-image-3.jpg" alt=""></a></figure>
			  <div class="lower-part">
			    <div class="left-curve"></div>
				<div class="right-curve"></div>

			    <div class="content">
				    <h3>Instalatii sanitare</h3>
				    <div class="text">

				    </div>
				</div>
			  </div>
		    </div>
	      </div>
	  </div>


		  <!--Default Service Column-->
		<div class="default-service-column col-md-3 col-sm-6 col-xs-12">
		  <div class="inner-box wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
			  <div class="inner-most">
				  <figure class="image-box"><a href="#"><img src="images/resource/featured-image-1.jpg" alt=""></a></figure>
				<div class="lower-part">
				  <div class="left-curve"></div>
				    <div class="right-curve"></div>

				  <div class="content">
					  <h3>Instalatii termice</h3>
					  <div class="text">

					  </div>
				    </div>
				</div>
			  </div>
		    </div>
		</div>

		<!--Default Service Column-->
		<div class="default-service-column col-md-3 col-sm-6 col-xs-12">
		  <div class="inner-box wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
			  <div class="inner-most">
				  <figure class="image-box"><a href="#"><img src="images/resource/featured-image-2.jpg" alt=""></a></figure>
				<div class="lower-part">
				  <div class="left-curve"></div>
				    <div class="right-curve"></div>

				  <div class="content">
					  <h3>Instalalatii canalizare</h3>
					  <div class="text">

					  </div>
				    </div>
				</div>
			  </div>
		    </div>
		</div>

		<!--Default Service Column-->
		<div class="default-service-column col-md-3 col-sm-6 col-xs-12">
		  <div class="inner-box wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
			  <div class="inner-most">
				  <figure class="image-box"><a href="#"><img src="images/resource/featured-image-41.jpg" alt=""></a></figure>
				<div class="lower-part">
				  <div class="left-curve"></div>
				    <div class="right-curve"></div>

				  <div class="content">
					  <h3>Panouri solare</h3>
					  <div class="text">

					  </div>
				    </div>
				</div>
			  </div>
		    </div>
		</div>

	  </div>
    </div>
</section>
