<!--Main Footer-->
<footer class="main-footer">
    <!--Footer Bottom-->
    <div class="footer-bottom">
	  <div class="auto-container">
		<div class="row clearfix">
		    <div class="pull-left"><div class="logo"><img src="images/logo-1.png" alt=""></div>
	    		<p>Profesionisti in instalatii</p>
		</div>
		    <div class="pull-right">
			    <strong>Sediu:</strong> Str. Miraslau nr. 3, Brasov. <a href="tel:+40720372299"><strong>0720 372 299</strong></a>
			    <div class="social-links">
    			    <a href="https://www.facebook.com/installatiiSanitareBrasov" target="_blank"><span class="fa fa-facebook-f"></span></a>
    			</div>
		</div>
	  </div>
    </div>

</footer>


</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".main-header"><span class="icon flaticon-tool-3"></span></div>


<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/revolution.min.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/owl.js"></script>
<script src="js/wow.js"></script>
<script src="js/script.js"></script>
