<!--Main Footer-->
<footer class="main-footer">

    <!--Footer Upper-->
    <div class="footer-upper" style="background-image:url(images/background/image-4.jpg);">
	  <div class="auto-container">
		<div class="row clearfix">

		    <!--Two 4th column-->
		    <div class="col-md-6 col-sm-12 col-xs-12">
			  <div class="row clearfix">
				<div class="col-lg-6 col-sm-6 col-xs-12 column">
				    <div class="footer-widget about-widget">
					  <div class="logo"><img src="images/logo-2.png" alt=""></div>
					  <div class="text">
						<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolo re eu feugiat nulla facilisis at vero eros et accumsan et iusto odio.</p>
					  </div>

				    </div>
				</div>

				<!--Footer Column-->
				<div class="col-lg-6 col-sm-6 col-xs-12 column">
				    <div class="footer-widget links-widget">

					<h3>Important Links</h3>
					<ul>
						<li><a href="#">Themeforest</a></li>
						<li><a href="#">Videohive</a></li>
						<li><a href="#">Graphicriver</a></li>
						<li><a href="#">Audio Jungle</a></li>
						<li><a href="#">Photodune</a></li>
					</ul>

				    </div>
				</div>


			  </div>
		    </div><!--Two 4th column End-->

		    <!--Two 4th column-->
		    <div class="col-md-6 col-sm-12 col-xs-12">
			  <div class="row clearfix">
				<!--Footer Column-->
				<div class="col-lg-6 col-sm-6 col-xs-12 column">
				    <div class="footer-widget links-widget">
					  <h3>quick Links</h3>
					  <ul>
						<li><a href="#">Faq</a></li>
						<li><a href="#">Support</a></li>
						<li><a href="#">Sitemap</a></li>
						<li><a href="#">Blog</a></li>
						<li><a href="#">Pricing</a></li>
					  </ul>

				    </div>
				</div>

				<!--Footer Column-->
				<div class="col-lg-6 col-sm-6 col-xs-12 column">
				    <div class="footer-widget contact-widget">
					  <h3>Address</h3>
					  <ul class="contact-info">
						<li><strong>Head Office:</strong> 22B, Becar Street London, UK</li>
						<li><strong>Phone</strong> +000-111-2222 <br>+000-111-2223</li>
					  </ul>

					  <div class="social-links">
						<a href="#"><span class="fa fa-facebook-f"></span></a>
						<a href="#"><span class="fa fa-twitter"></span></a>
						<a href="#"><span class="fa fa-google-plus"></span></a>
						<a href="#"><span class="fa fa-skype"></span></a>
					  </div>

				    </div>
				</div>

			  </div>
		    </div><!--Two 4th column End-->

		</div>

	  </div>
    </div>

    <!--Footer Bottom-->
    <div class="footer-bottom">
	  <div class="auto-container">
		<div class="row clearfix">
		    <div class="pull-left"><div class="copyright-text">&copy; Copyright 2016 quick-install.ro</div></div>
		</div>
	  </div>
    </div>

</footer>


</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".main-header"><span class="icon flaticon-tool-3"></span></div>


<!--Search Popup-->
<div id="search-popup" class="search-popup">
  <div class="close-search"><span class="fa fa-close"></span></div>
  <div class="popup-inner">

  <div class="search-form">
	  <form method="post" action="index.html">
		  <div class="form-group">
		  <fieldset>
			  <input type="search" class="form-control" name="search-input" value="" placeholder="Enter Keyword" required >
			  <input type="submit" value="Search It!" class="theme-btn">
		    </fieldset>
		</div>
	  </form>

	  <br>
	  <h3>Recent Search Keywords</h3>
	  <ul class="recent-searches">
		<li><a href="#">Business</a></li>
		<li><a href="#">Web Development</a></li>
		<li><a href="#">SEO</a></li>
		<li><a href="#">Logistics</a></li>
		<li><a href="#">Freedom</a></li>
	  </ul>

    </div>

</div>
</div>

<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/revolution.min.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/owl.js"></script>
<script src="js/wow.js"></script>
<script src="js/script.js"></script>
