<div class="header-lower">
    <div class="auto-container">
	    <div class="nav-outer">
		<!-- Main Menu -->
		<nav class="main-menu">
		    <div class="navbar-header">
			  <!-- Toggle Button -->
			  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			  </button>
		    </div>

		    <div class="navbar-collapse collapse clearfix">
			  <ul class="navigation clearfix">
				<li class="current"><a href="#">Prima pagina</a></li>
				<li><a href="about.html">Despre noi</a></li>
				<li><a href="services.html">Servicii prestate</a></li>
				<li><a href="#">Proiecte</a></li>
				<li><a href="contact.html">Contact</a></li>
			  </ul>
		    </div>
		</nav><!-- Main Menu End-->

	    <div class="btn-outer"><a href="#" class="theme-btn inq-btn"><span class="txt">inquery today</span></a></div>

	  </div>
    </div>
</div>
