<!--What We Do Section-->
<section class="what-we-do no-padd-bottom">
  <div class="auto-container">
	  <!--Section Title-->
	  <div class="sec-title text-center">
		  <h2><span class="theme_color">Experienta</span> noastra</h2>
		<div class="text">
			
		</div>
	  </div>

	  <!--Tabs Box-->
	  <div class="tabs-box tab-style-one">

		<!--Buttons-->
		<div class="buttons-style-one">
		    <ul class="tab-buttons clearfix">
			  <li class="tab-btn active-btn" data-tab="#tab-one"><span class="icon flaticon-tool-8"></span> <span class="txt">renovation</span></li>
			  <li class="tab-btn" data-tab="#tab-two"><span class="icon flaticon-tool-10"></span> <span class="txt">architect</span></li>
			  <li class="tab-btn" data-tab="#tab-three"><span class="icon flaticon-signs"></span> <span class="txt">Roofing</span></li>
			  <li class="tab-btn" data-tab="#tab-four"><span class="icon flaticon-paint"></span> <span class="txt">Painting</span></li>
			  <li class="tab-btn" data-tab="#tab-five"><span class="icon flaticon-tool-3"></span> <span class="txt">Plumbing</span></li>
		    </ul>
		</div>

		<!--Tabs Content-->
		<div class="tabs-content">

		    <!--Tab / Active Tab-->
		    <div class="tab active-tab" id="tab-one">
			  <!--Outer-->
			  <div class="outer">
				  <div class="clearfix">
				    <!--Left Image Box-->
				    <div class="left-image-box col-lg-4 col-md-4 col-sm-4 col-xs-12">
					  <div class="image-outer">
						  <figure class="image"><img src="images/resource/featured-image-4.jpg" alt=""></figure>
						<div class="upper-curve"></div>
						  <div class="lower-curve"></div>
					  </div>
				    </div>
				    <!--Main Content Box-->
				    <div class="main-content-box col-lg-5 col-md-8 col-sm-8 col-xs-12">
					  <div class="inner-content">

						  <div class="content-area">
						  <h3>Renovation services</h3>
						    <div class="text">
							  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nstrud exercitation ullamco laboris nisi ut aliquip</p>
						    </div>

						    <div class="progress-boxes">

							  <!--Progress Box-->
							  <div class="progress-box">
								  <div class="bar-outer">
								  <div class="bar-bg" style="width:80%;"></div>
								    <div class="txt">Skill 1</div>
							      </div>
							  </div>
							  <!--Progress Box-->
							  <div class="progress-box">
								  <div class="bar-outer">
								  <div class="bar-bg" style="width:60%;"></div>
								    <div class="txt">Skill 2</div>
							      </div>
							  </div>

							  <!--Progress Box-->
							  <div class="progress-box">
								  <div class="bar-outer">
								  <div class="bar-bg" style="width:70%;"></div>
								    <div class="txt">Skill 3</div>
							      </div>
							  </div>

						    </div>

						</div>
					  </div>
				    </div>

				    <!--How Works Box-->
				    <div class="how-works-box col-lg-3 col-md-12 col-sm-12 col-xs-12">
					  <div class="inner-content">
						  <h3>How it works</h3>

						<ul class="styled-steps">
						  <li><span class="count">1</span><span class="small-text">field</span>analysis</li>
						    <li><span class="count">2</span><span class="small-text">condition</span>experiment</li>
						    <li><span class="count">3</span><span class="small-text">Final</span>output</li>
						</ul>

					  </div>
				    </div>
				</div>

			  </div><!--Outer-->
		    </div><!--Tab-->

		    <!--Tab-->
		    <div class="tab" id="tab-two">
			  <!--Outer-->
			  <div class="outer">
				  <div class="clearfix">
				    <!--Left Image Box-->
				    <div class="left-image-box col-lg-4 col-md-4 col-sm-4 col-xs-12">
					  <div class="image-outer">
						  <figure class="image"><img src="images/resource/featured-image-4.jpg" alt=""></figure>
						<div class="upper-curve"></div>
						  <div class="lower-curve"></div>
					  </div>
				    </div>
				    <!--Main Content Box-->
				    <div class="main-content-box col-lg-5 col-md-8 col-sm-8 col-xs-12">
					  <div class="inner-content">

						  <div class="content-area">
						  <h3>Architect services</h3>
						    <div class="text">
							  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nstrud exercitation ullamco laboris nisi ut aliquip</p>
						    </div>

						    <div class="progress-boxes">

							  <!--Progress Box-->
							  <div class="progress-box">
								  <div class="bar-outer">
								  <div class="bar-bg" style="width:80%;"></div>
								    <div class="txt">Skill 1</div>
							      </div>
							  </div>
							  <!--Progress Box-->
							  <div class="progress-box">
								  <div class="bar-outer">
								  <div class="bar-bg" style="width:60%;"></div>
								    <div class="txt">Skill 2</div>
							      </div>
							  </div>

							  <!--Progress Box-->
							  <div class="progress-box">
								  <div class="bar-outer">
								  <div class="bar-bg" style="width:70%;"></div>
								    <div class="txt">Skill 3</div>
							      </div>
							  </div>

						    </div>

						</div>
					  </div>
				    </div>

				    <!--How Works Box-->
				    <div class="how-works-box col-lg-3 col-md-12 col-sm-12 col-xs-12">
					  <div class="inner-content">
						  <h3>How it works</h3>

						<ul class="styled-steps">
						  <li><span class="count">1</span><span class="small-text">field</span>analysis</li>
						    <li><span class="count">2</span><span class="small-text">condition</span>experiment</li>
						    <li><span class="count">3</span><span class="small-text">Final</span>output</li>
						</ul>

					  </div>
				    </div>
				</div>

			  </div><!--Outer-->
		    </div><!--Tab-->

		    <!--Tab-->
		    <div class="tab" id="tab-three">
			  <!--Outer-->
			  <div class="outer">
				  <div class="clearfix">
				    <!--Left Image Box-->
				    <div class="left-image-box col-lg-4 col-md-4 col-sm-4 col-xs-12">
					  <div class="image-outer">
						  <figure class="image"><img src="images/resource/featured-image-4.jpg" alt=""></figure>
						<div class="upper-curve"></div>
						  <div class="lower-curve"></div>
					  </div>
				    </div>
				    <!--Main Content Box-->
				    <div class="main-content-box col-lg-5 col-md-8 col-sm-8 col-xs-12">
					  <div class="inner-content">

						  <div class="content-area">
						  <h3>Roofing services</h3>
						    <div class="text">
							  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nstrud exercitation ullamco laboris nisi ut aliquip</p>
						    </div>

						    <div class="progress-boxes">

							  <!--Progress Box-->
							  <div class="progress-box">
								  <div class="bar-outer">
								  <div class="bar-bg" style="width:80%;"></div>
								    <div class="txt">Skill 1</div>
							      </div>
							  </div>
							  <!--Progress Box-->
							  <div class="progress-box">
								  <div class="bar-outer">
								  <div class="bar-bg" style="width:60%;"></div>
								    <div class="txt">Skill 2</div>
							      </div>
							  </div>

							  <!--Progress Box-->
							  <div class="progress-box">
								  <div class="bar-outer">
								  <div class="bar-bg" style="width:70%;"></div>
								    <div class="txt">Skill 3</div>
							      </div>
							  </div>

						    </div>

						</div>
					  </div>
				    </div>

				    <!--How Works Box-->
				    <div class="how-works-box col-lg-3 col-md-12 col-sm-12 col-xs-12">
					  <div class="inner-content">
						  <h3>How it works</h3>

						<ul class="styled-steps">
						  <li><span class="count">1</span><span class="small-text">field</span>analysis</li>
						    <li><span class="count">2</span><span class="small-text">condition</span>experiment</li>
						    <li><span class="count">3</span><span class="small-text">Final</span>output</li>
						</ul>

					  </div>
				    </div>
				</div>

			  </div><!--Outer-->
		    </div><!--Tab-->

		    <!--Tab-->
		    <div class="tab" id="tab-four">
			  <!--Outer-->
			  <div class="outer">
				  <div class="clearfix">
				    <!--Left Image Box-->
				    <div class="left-image-box col-lg-4 col-md-4 col-sm-4 col-xs-12">
					  <div class="image-outer">
						  <figure class="image"><img src="images/resource/featured-image-4.jpg" alt=""></figure>
						<div class="upper-curve"></div>
						  <div class="lower-curve"></div>
					  </div>
				    </div>
				    <!--Main Content Box-->
				    <div class="main-content-box col-lg-5 col-md-8 col-sm-8 col-xs-12">
					  <div class="inner-content">

						  <div class="content-area">
						  <h3>Painting services</h3>
						    <div class="text">
							  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nstrud exercitation ullamco laboris nisi ut aliquip</p>
						    </div>

						    <div class="progress-boxes">

							  <!--Progress Box-->
							  <div class="progress-box">
								  <div class="bar-outer">
								  <div class="bar-bg" style="width:80%;"></div>
								    <div class="txt">Skill 1</div>
							      </div>
							  </div>
							  <!--Progress Box-->
							  <div class="progress-box">
								  <div class="bar-outer">
								  <div class="bar-bg" style="width:60%;"></div>
								    <div class="txt">Skill 2</div>
							      </div>
							  </div>

							  <!--Progress Box-->
							  <div class="progress-box">
								  <div class="bar-outer">
								  <div class="bar-bg" style="width:70%;"></div>
								    <div class="txt">Skill 3</div>
							      </div>
							  </div>

						    </div>

						</div>
					  </div>
				    </div>

				    <!--How Works Box-->
				    <div class="how-works-box col-lg-3 col-md-12 col-sm-12 col-xs-12">
					  <div class="inner-content">
						  <h3>How it works</h3>

						<ul class="styled-steps">
						  <li><span class="count">1</span><span class="small-text">field</span>analysis</li>
						    <li><span class="count">2</span><span class="small-text">condition</span>experiment</li>
						    <li><span class="count">3</span><span class="small-text">Final</span>output</li>
						</ul>

					  </div>
				    </div>
				</div>

			  </div><!--Outer-->
		    </div><!--Tab-->

		    <!--Tab-->
		    <div class="tab" id="tab-five">
			  <!--Outer-->
			  <div class="outer">
				  <div class="clearfix">
				    <!--Left Image Box-->
				    <div class="left-image-box col-lg-4 col-md-4 col-sm-4 col-xs-12">
					  <div class="image-outer">
						  <figure class="image"><img src="images/resource/featured-image-4.jpg" alt=""></figure>
						<div class="upper-curve"></div>
						  <div class="lower-curve"></div>
					  </div>
				    </div>
				    <!--Main Content Box-->
				    <div class="main-content-box col-lg-5 col-md-8 col-sm-8 col-xs-12">
					  <div class="inner-content">

						  <div class="content-area">
						  <h3>Plumbing services</h3>
						    <div class="text">
							  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nstrud exercitation ullamco laboris nisi ut aliquip</p>
						    </div>

						    <div class="progress-boxes">

							  <!--Progress Box-->
							  <div class="progress-box">
								  <div class="bar-outer">
								  <div class="bar-bg" style="width:80%;"></div>
								    <div class="txt">Skill 1</div>
							      </div>
							  </div>
							  <!--Progress Box-->
							  <div class="progress-box">
								  <div class="bar-outer">
								  <div class="bar-bg" style="width:60%;"></div>
								    <div class="txt">Skill 2</div>
							      </div>
							  </div>

							  <!--Progress Box-->
							  <div class="progress-box">
								  <div class="bar-outer">
								  <div class="bar-bg" style="width:70%;"></div>
								    <div class="txt">Skill 3</div>
							      </div>
							  </div>

						    </div>

						</div>
					  </div>
				    </div>

				    <!--How Works Box-->
				    <div class="how-works-box col-lg-3 col-md-12 col-sm-12 col-xs-12">
					  <div class="inner-content">
						  <h3>How it works</h3>

						<ul class="styled-steps">
						  <li><span class="count">1</span><span class="small-text">field</span>analysis</li>
						    <li><span class="count">2</span><span class="small-text">condition</span>experiment</li>
						    <li><span class="count">3</span><span class="small-text">Final</span>output</li>
						</ul>

					  </div>
				    </div>
				</div>

			  </div><!--Outer-->
		    </div><!--Tab-->

		</div><!--Tabs Content-->

	  </div><!--Tabs Box-->

    </div>

    <!--Image Section-->
    <div class="image-section" style="background-image:url(images/background/image-2.jpg);"></div>

</section>
