<!--What We Do Section-->
<section class="what-we-do no-padd-bottom" id="servicii">
  <div class="auto-container">
	  <!--Section Title-->
	  <div class="sec-title text-center">
		  <h2><span class="theme_color">Servicii</span> prestate</h2>
		<div class="text">

		</div>
	  </div>

	  <!--Tabs Box-->
	  <div class="tabs-box tab-style-one">

		<!--Buttons-->
		<div class="buttons-style-one">
		    <ul class="tab-buttons clearfix">
			  <li class="tab-btn active-btn" data-tab="#tab-one"><span class="icon flaticon-tool-8"></span> <span class="txt">sanitare</span></li>
			  <li class="tab-btn" data-tab="#tab-two"><span class="icon flaticon-tool-10"></span> <span class="txt">termice</span></li>
			  <li class="tab-btn" data-tab="#tab-three"><span class="icon flaticon-signs"></span> <span class="txt">canalizare</span></li>
			  <li class="tab-btn" data-tab="#tab-four"><span class="icon flaticon-paint"></span> <span class="txt">solare</span></li>
		    </ul>
		</div>

		<!--Tabs Content-->
		<div class="tabs-content">

		    <!--Tab / Active Tab-->
		    <div class="tab active-tab" id="tab-one">
			  <!--Outer-->
			  <div class="outer">
				  <div class="clearfix">
				    <!--Left Image Box-->
				    <div class="left-image-box col-lg-4 col-md-4 col-sm-4 col-xs-12">
					  <div class="image-outer">
						  <figure class="image"><img src="images/resource/featured-image-4.jpg" alt=""></figure>
						<div class="upper-curve"></div>
						  <div class="lower-curve"></div>
					  </div>
				    </div>
				    <!--Main Content Box-->
				    <div class="main-content-box col-lg-5 col-md-8 col-sm-8 col-xs-12">
					  <div class="inner-content">

						  <div class="content-area">
						  <h3>Instalatii sanitare</h3>
						    <div class="text">
							  <p>Va oferim o gama larga pentru instalatia Sanitara</p>
						    </div>

						    <div class="progress-boxes">

							  <!--Progress Box-->
							  <div class="progress-box">
								  <div class="bar-outer">
								  <div class="bar-bg" style="width:100%;"></div>
								    <div class="txt">Servicii de consultanta instalatii sanitare</div>
							      </div>
							  </div>

							  <!--Progress Box-->
							  <div class="progress-box">
								  <div class="bar-outer">
								  <div class="bar-bg" style="width:100%;"></div>
								    <div class="txt">Echipare completa baie si bucatarie</div>
							      </div>
							  </div>

						    </div>

						</div>
					  </div>
				    </div>

				    <!--How Works Box-->
				    <div class="how-works-box col-lg-3 col-md-12 col-sm-12 col-xs-12">
					{% include partials/_skills_steps.html %}
				    </div>
				</div>

			  </div><!--Outer-->
		    </div><!--Tab-->

		    <!--Tab-->
		    <div class="tab" id="tab-two">
			  <!--Outer-->
			  <div class="outer">
				  <div class="clearfix">
				    <!--Left Image Box-->
				    <div class="left-image-box col-lg-4 col-md-4 col-sm-4 col-xs-12">
					  <div class="image-outer">
						  <figure class="image"><img src="images/resource/featured-image-101.jpg" alt=""></figure>
						<div class="upper-curve"></div>
						  <div class="lower-curve"></div>
					  </div>
				    </div>
				    <!--Main Content Box-->
				    <div class="main-content-box col-lg-5 col-md-8 col-sm-8 col-xs-12">
					  <div class="inner-content">

						  <div class="content-area">
						  <h3>Instalatii termice</h3>
						    <div class="text">
							  <p>Montând instalaţiile de încălzire dorim să vă fie asigurată temperatura optimă în toate încăperile(locuinţei).</p>
						    </div>

						    <div class="progress-boxes">

							  <!--Progress Box-->
							  <div class="progress-box">
								  <div class="bar-outer">
								  <div class="bar-bg" style="width:100%;"></div>
								    <div class="txt">Sisteme de incalzire prin radiatoare</div>
							      </div>
							  </div>
							  <!--Progress Box-->
							  <div class="progress-box">
								  <div class="bar-outer">
								  <div class="bar-bg" style="width:100%;"></div>
								    <div class="txt">Sisteme de incalzire prin pardoseala</div>
							      </div>
							  </div>

							  <!--Progress Box-->
							  <div class="progress-box">
								  <div class="bar-outer">
								  <div class="bar-bg" style="width:80%;"></div>
								    <div class="txt">Sisteme de incalzire prin ventiloconvectoare</div>
							      </div>
							  </div>

						    </div>

						</div>
					  </div>
				    </div>

				    <!--How Works Box-->
				    <div class="how-works-box col-lg-3 col-md-12 col-sm-12 col-xs-12">
					{% include partials/_skills_steps.html %}
				    </div>
				</div>

			  </div><!--Outer-->
		    </div><!--Tab-->

		    <!--Tab-->
		    <div class="tab" id="tab-three">
			  <!--Outer-->
			  <div class="outer">
				  <div class="clearfix">
				    <!--Left Image Box-->
				    <div class="left-image-box col-lg-4 col-md-4 col-sm-4 col-xs-12">
					  <div class="image-outer">
						  <figure class="image"><img src="images/resource/featured-image-102.jpg" alt=""></figure>
						<div class="upper-curve"></div>
						  <div class="lower-curve"></div>
					  </div>
				    </div>
				    <!--Main Content Box-->
				    <div class="main-content-box col-lg-5 col-md-8 col-sm-8 col-xs-12">
					  <div class="inner-content">

						  <div class="content-area">
						  <h3>Instalatii canalizare</h3>
						    <div class="text">
							  <p>Având o bogată experienţă în lucrările de canalizare, vă oferim o gamă variată de servicii şi în acest domeniu.</p>
						    </div>

						    <div class="progress-boxes">

							  <!--Progress Box-->
							  <div class="progress-box">
								  <div class="bar-outer">
								  <div class="bar-bg" style="width:100%;"></div>
								    <div class="txt">Exterioare</div>
							      </div>
							  </div>
							  <!--Progress Box-->
							  <div class="progress-box">
								  <div class="bar-outer">
								  <div class="bar-bg" style="width:100%;"></div>
								    <div class="txt">Interioare</div>
							      </div>
							  </div>

						    </div>

						</div>
					  </div>
				    </div>

				    <!--How Works Box-->
				    <div class="how-works-box col-lg-3 col-md-12 col-sm-12 col-xs-12">
					{% include partials/_skills_steps.html %}
				    </div>
				</div>

			  </div><!--Outer-->
		    </div><!--Tab-->

		    <!--Tab-->
		    <div class="tab" id="tab-four">
			  <!--Outer-->
			  <div class="outer">
				  <div class="clearfix">
				    <!--Left Image Box-->
				    <div class="left-image-box col-lg-4 col-md-4 col-sm-4 col-xs-12">
					  <div class="image-outer">
						  <figure class="image"><img src="images/resource/featured-image-103.jpg" alt=""></figure>
						<div class="upper-curve"></div>
						  <div class="lower-curve"></div>
					  </div>
				    </div>
				    <!--Main Content Box-->
				    <div class="main-content-box col-lg-5 col-md-8 col-sm-8 col-xs-12">
					  <div class="inner-content">

						  <div class="content-area">
						  <h3>Panouri solare</h3>
						    <div class="text">
							  <p>Pe lângă consultanţa în alegerea sistemului potrivit, ne ocupăm şi de executarea montajului şi punerea în funcţiune a panourilor(solare).</p>
						    </div>

						    <div class="progress-boxes">
							  <!--Progress Box-->
							  <div class="progress-box">
								  <div class="bar-outer">
								  <div class="bar-bg" style="width:99%;"></div>
								    <div class="txt">Incalzire apa calda menajera</div>
							      </div>
							  </div>

    							  <!--Progress Box-->
    							  <div class="progress-box">
    								  <div class="bar-outer">
    								  <div class="bar-bg" style="width:100%;"></div>
    								    <div class="txt">Incalzire piscine</div>
    							      </div>
    							  </div>

						    </div>

						</div>
					  </div>
				    </div>

				    <!--How Works Box-->
				    <div class="how-works-box col-lg-3 col-md-12 col-sm-12 col-xs-12">
					{% include partials/_skills_steps.html %}
				    </div>
				</div>

			  </div><!--Outer-->
		    </div><!--Tab-->


		</div><!--Tabs Content-->

	  </div><!--Tabs Box-->

    </div>

    <!--Image Section-->
    <div class="image-section" style="background-image:url(images/background/image-2.jpg);"></div>

</section>
