<!--S
<section class="sponsors-section padd-top-20">
  <div class="auto-container">
	  <div class="sponsors-outer">
		<ul class="sponsors-carousel">
		    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/1.jpg" alt=""></a></figure></li>
		    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/2.jpg" alt=""></a></figure></li>
		    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/3.jpg" alt=""></a></figure></li>
		    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/4.jpg" alt=""></a></figure></li>
		    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/5.jpg" alt=""></a></figure></li>
		    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/6.jpg" alt=""></a></figure></li>
		</ul>
	  </div>
    </div>
</section>
ponsors Section-->
