<!--Team Section-->
<section class="team-section" style="background-image:url(images/background/image-3.jpg);">
  <div class="auto-container">
	  <!--Section Title-->
	  <div class="sec-title text-center">
		  <h2>Awesome <span class="theme_color">Team</span></h2>
		<div class="text">Claritas est etiam processus dynamicus, qui sequitur <br>mutationem consuetudium lectorum.</div>
	  </div>

	  <div class="row clearfix">

		<!--Team Memmber-->
		<article class="team-member col-lg-4 col-md-6 col-sm-6 col-xs-12">
		  <div class="inner-box">

			  <figure class="image-box wow bounceInUp" data-wow-delay="0ms" data-wow-duration="1500ms"><a href="mailto:mail@mail.com"><img src="images/resource/team-image-1.png" alt=""></a></figure>
			  <!--Lower Part-->
			  <div class="lower-part">
				  <!--Bg Layer-->
				  <div class="bg-layer"></div>
				<div class="left-curve"></div>
				<div class="right-curve"></div>
				<!--Caption Layer-->
				<div class="caption-layer">
				  <div class="upper">
					  <h3><a href="#">Farhan Rizvi</a></h3>
					  <div class="category"><a href="#">Chief Architect</a></div>
				    </div>
				    <ul class="options clearfix">
					  <li><a href="#"><span class="icon flaticon-case"></span> 3 Years of experiences</a></li>
					  <li><a href="#"><span class="icon flaticon-social"></span> age: 24 years</a></li>
				    </ul>
				</div><!--Caption ayer-->
			  </div><!--Lower Part-->

		    </div>
		</article>

		<!--Team Memmber-->
		<article class="team-member col-lg-4 col-md-6 col-sm-6 col-xs-12">
		  <div class="inner-box">

			  <figure class="image-box wow bounceInUp" data-wow-delay="500ms" data-wow-duration="1500ms"><a href="mailto:mail@mail.com"><img src="images/resource/team-image-2.png" alt=""></a></figure>
			  <!--Lower Part-->
			  <div class="lower-part">
				  <!--Bg Layer-->
				  <div class="bg-layer"></div>
				<div class="left-curve"></div>
				<div class="right-curve"></div>
				<!--Caption Layer-->
				<div class="caption-layer">
				  <div class="upper">
					  <h3><a href="#">Bushra Ahsani</a></h3>
					  <div class="category"><a href="#">Interior Designer</a></div>
				    </div>
				    <ul class="options clearfix">
					  <li><a href="#"><span class="icon flaticon-case"></span> 3 Years of experiences</a></li>
					  <li><a href="#"><span class="icon flaticon-social"></span> age: 24 years</a></li>
				    </ul>
				</div><!--Caption ayer-->
			  </div><!--Lower Part-->

		    </div>
		</article>

		<!--Team Memmber-->
		<article class="team-member col-lg-4 col-md-6 col-sm-6 col-xs-12">
		  <div class="inner-box">

			  <figure class="image-box wow bounceInUp" data-wow-delay="1000ms" data-wow-duration="1500ms"><a href="mailto:mail@mail.com"><img src="images/resource/team-image-3.png" alt=""></a></figure>
			  <!--Lower Part-->
			  <div class="lower-part">
				  <!--Bg Layer-->
				  <div class="bg-layer"></div>
				<div class="left-curve"></div>
				<div class="right-curve"></div>
				<!--Caption Layer-->
				<div class="caption-layer">
				  <div class="upper">
					  <h3><a href="#">David Maman</a></h3>
					  <div class="category"><a href="#">Exterior Designer</a></div>
				    </div>
				    <ul class="options clearfix">
					  <li><a href="#"><span class="icon flaticon-case"></span> 3 Years of experiences</a></li>
					  <li><a href="#"><span class="icon flaticon-social"></span> age: 24 years</a></li>
				    </ul>
				</div><!--Caption ayer-->
			  </div><!--Lower Part-->

		    </div>
		</article>

	  </div>
    </div>
</section>
