<!--
<section class="testimonials-section padd-bott-70">
  <div class="auto-container">
	  <div class="sec-title text-center">
		  <h2>What <span class="theme_color">Our CLients</span> Say</h2>
		<div class="text">Claritas est etiam processus dynamicus, qui sequitur <br>mutationem consuetudium lectorum.</div>
	  </div>
    </div>


    <div class="carousel-outer">
	  <div class="auto-container">
		<ul class="testimonials-carousel">

		    <li class="slide-item">
			  <div class="testi-box clearfix">
				<figure class="author-thumb">
				    <img src="images/resource/author-thumb-1.jpg" alt="">

				    <div class="info-box">
					  <div class="left-curve"></div>
					  <div class="right-curve"></div>
					  <div class="content">
						<h4>jenny duren</h4>
						<div class="designation">Housewife</div>
					  </div>
				    </div>
				</figure>
				<div class="text-content">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</div>
			  </div>
		    </li>

		    <li class="slide-item">
			  <div class="testi-box clearfix">
				<figure class="author-thumb">
				    <img src="images/resource/author-thumb-2.jpg" alt="">

				    <div class="info-box">
					  <div class="left-curve"></div>
					  <div class="right-curve"></div>
					  <div class="content">
						<h4>James martin</h4>
						<div class="designation">Banker</div>
					  </div>
				    </div>
				</figure>
				<div class="text-content">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</div>
			  </div>
		    </li>

		    <li class="slide-item">
			  <div class="testi-box clearfix">
				<figure class="author-thumb">
				    <img src="images/resource/author-thumb-1.jpg" alt="">
				    <div class="info-box">
					  <div class="left-curve"></div>
					  <div class="right-curve"></div>
					  <div class="content">
						<h4>jenny duren</h4>
						<div class="designation">Housewife</div>
					  </div>
				    </div>
				</figure>
				<div class="text-content">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</div>
			  </div>
		    </li>

		    <li class="slide-item">
			  <div class="testi-box clearfix">
				<figure class="author-thumb">
				    <img src="images/resource/author-thumb-2.jpg" alt="">
				    <div class="info-box">
					  <div class="left-curve"></div>
					  <div class="right-curve"></div>
					  <div class="content">
						<h4>James martin</h4>
						<div class="designation">Banker</div>
					  </div>
				</figure>
				<div class="text-content">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</div>
			  </div>
		    </li>


		</ul>

	  </div>
    </div>

</section>
Testimonials Sction-->
