<!DOCTYPE html>
<html lang="ro">
<head>
	{% include _header.html %}
</head>

<body>
<div class="page-wrapper">
	<div class="preloader"></div>

	<header class="main-header header-style-one">
		{% include _quicklinks.html %}
		{% include _banner.html %}
		{% include _menu.html %}
	</header>

	{% include homepage/_hero.html %}
	{% include homepage/_services.html %}
	{% include homepage/_intro_banner.html %}
	{% include _skills.html %}
	{% include _projects_carousel.html %}
	{% include _team.html %}
	{% include _testimonials.html %}
	{% include _news.html %}
	{% include _sponsors.html %}
	{% include _footer.html %}
</body>
</html>
